<div class="col-xs-12 panel" style="padding: 20px;">
<h2 style="margin-top: -20px;" align="center"><%= @room.name %></h2>
<div id="message_chat_room_<%= @room.id%>" class="col-xs-8 well" style="margin-bottom: 0px; border-radius: 0; min-height: 300px;">
<% @room.room_messages.each do |message|%>
	<%= render partial: "message",locals: {message: message} %>
<% end %>
</div>
<div class="col-xs-4" style="padding: 0px;">
	<%= render "privates/users"%>
	<center><b>Escribir mensaje</b></center>
	<textarea class="form-control" id="message_texarea" name="message" style="border-radius: 0;"></textarea>
	<button type="submit" class="btn btn-primary pull-right" id="send_message" data-room="<%= @room.id %>" style ="margin-top: 20px;">Enviar</button>
</div>
</div>